@import "../../scss/main.scss";

.Button {
  max-width: 250px;
  cursor: pointer;
  align-items: center;
  display: flex;
  border-radius: 50px;
  transition: background-color 0.2s ease;
  font-size: 1.5rem;
  font-weight: 400;

  &Filled {
    font-size: 1rem;
    border: none;
    padding: 6px 16px;

    p,
    span,
    svg {
      color: white;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &Outlined {
    min-width: 110px;
    text-align: center;
    justify-content: center;
    padding: 6px 16px;
    border-radius: 50px;
  }

  &Text {
    border: none;
    background-color: transparent;
    padding: 6px 16px;
  }

}