@import "../../scss/main.scss";

.Tracklist {
  margin-bottom: 100px;
  
  &Header {
    display: flex;
    font-weight: 400;
    justify-content: space-around;
    padding: 20px 10px;
    text-align: center;
    opacity: 0.5;

    &Title,
    &Album,
    &Time,
    &Popularity {
      font-size: 1.4rem;
    }

    &Title {
      width: 50%;
    }

    &Album {
      display: none;
    }

    &Time {
      width: 20%;
    }

    &Popularity {
      width: 30%;
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 300px);
    overflow-y: auto;
  }

  &LoadMoreButton {
    min-width: 130px;
    margin-top: 40px;
    margin-bottom: 180px;

    span {
      font-size: 1.6rem;
      font-weight: 300;
      width: 100%;
    }
  }

  @include for-size(m) {

    &Header {
      &Title {
        width: 40%;
      }
  
      &Album {
        display: inline;
        width: 30%;
      }
  
      &Time {
        width: 10%;
      }
  
      &Popularity {
        width: 20%;
      }
    }

    &LoadMoreButton {
      margin-bottom: 60px;
    }
    
  }

}