@import "../../scss/main.scss";

.Tracklist {
  margin-bottom: 100px;
  &Header {
    color: $light-grey;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    justify-content: space-around;
    padding: 20px 10px;

    &Title {
      width: 50%;
      padding-left: 80px;
    }

    &Album {
      width: 30%;
    }

    &GeneralItem {
      width: 10%;
    }

  }

  &Body {
    height: calc(100vh - 300px);
    overflow-y: auto;
  }

}