@import '../../scss/main.scss';

.MainLayout {
  &Content {
    grid-column: 1/-1;
    min-height: 100vh;
    margin-top: 80px;
    position: relative;
  }
}

.OpenSpotifyMessage {
  position: fixed;
  top: 80px;
  z-index: 1;
  background: $primary;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 16px;
  width: 100%;
  height: 60px;
}