.FeedbackMessage {
  align-items: center;
  display: flex;
  margin: 20px 0 0 10px;

  &Icon {
    width: 30px;
    margin-right: 8px;
  }

  &Text {
    font-size: 1.6rem;
    font-weight: 300;
  }

}