@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;

html,
body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

#root {
  height: 100%;
}

li {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

.btn,
.toggle {
  cursor: pointer;
  max-height: 50px;
  padding: 12px;
  transition: transform 0.4s ease-in-out;
  width: fit-content;
  @extend .shadowed;
}

.logo {
  color: $primary;
}

.btn {
  border-radius: 5px;
  border: none;
  height: 45px;

  &--primary {
    border: 3px solid;
    background-color: transparent;
  }

  &--secondary {
    background-color: $primary;
    color: $white;

    &:active,
    &:focus,
    &:hover {
      background-color: $pink-light;
    }
  }
}

.shadowed {
  box-shadow: $dark-shadow;
}

.light {
  background-color: $background;
  color: $black;
  min-height: 100%;

  .btn {
    box-shadow: $dark-shadow;

    &--primary {
      color: $background-dark;
      border-color: $background-dark;

      &:hover {
        background-color: $background-dark;
        color: $white;
      }
    }
  }

  .link,
  .mobile-menu-icon {
    color: $black;
  }

  .background-theme {
    background-color: $background;
  }

  .color-theme {
    color: $background-dark;
  }

}

.dark {
  background-color: $background-dark;
  color: $white;
  min-height: 100%;

  .btn {
    box-shadow: $light-shadow;

    &--primary {
      color: $secondary;
      border-color: $secondary;

      &:active,
      &:focus,
      &:hover {
        background-color: $secondary;
        color: $background-dark;
      }
    }
  }

  .link {
    color: $white;
  }

  .mobile-menu-icon {
    color: $white;
  }

  .background-theme {
    background-color: $background-dark;
  }

  .color-theme {
    color: $background;
  }
}