@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/layout' as *;

html,
body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

li {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.btn,
.toggle {
  cursor: pointer;
  max-height: 50px;
  padding: 12px;
  transition: transform 0.4s ease-in-out;
  width: fit-content;
  @extend .shadowed;
}

.logo {

  &--xs {
    height: 18px;
  }

  &--s {
    height: 20px;
  }

  &--m {
    height: 24px;
  }

  &--l {
    height: 28px;
  }

  &--xl {
    height: 30px;
  }

  @include for-size(m) {
    &--xs {
      height: 16px;
    }

    &--s {
      height: 24px;
    }

    &--m {
      height: 30px;
    }

    &--l {
      height: 32px;
    }

    &--xl {
      height: 36px;
    }
  }
}

.btn {
  border-radius: 18px;
  border: none;
  height: 40px;
  padding: 8px;

  &--primary {
    background-color: $primary;
    color: $white;
  }
}

.blurred-background {
  background-color: $blurred-background;
  backdrop-filter: blur(16px);
}

.light {
  background-color: $white;
  color: $black;
  min-height: 100%;

  a {
    color: $black;
  }

  .background-theme {
    background-color: $white;
  }

  .color-theme {
    color: $black;
  }

  .shadowed {
    box-shadow: $dark-shadow;
  }

  .applyHover {
    &:hover {
      background-color: $light-hover;
    }
  }
}

.dark {
  background-color: $black;
  color: $white;
  min-height: 100%;

  a {
    color: $white;
  }

  .background-theme {
    background-color: $black;
  }

  .color-theme {
    color: $white;
  }

  .shadowed {
    box-shadow: $light-shadow;
  }

  .applyHover {
    &:hover {
      background-color: $dark-hover;
    }
  }
}