@import '../../scss/main.scss';

.Popup {
  display: flex;
  justify-content: center;

  &Backdrop {
    background-color: rgb(0, 0, 0, 45%);
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 101;
  }

  &Body {
    border-radius: 15px;
    position: fixed;
    top: 100px;
    z-index: 101;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
  }

  @include for-size(m) {}

}