@import '../../scss/main.scss';

.Footer {
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 300px;
  justify-content: center;
  text-align: center;
  width: 100%;

  &Container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
  }

  &Logo {
    display: flex;
    height: 30px;
    justify-content: center;
  }

  &Links {
    text-align: center;
  }

  &Link {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 10px;
    text-decoration: none;
  }

  @include for-size(m) {
    &Container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}