.MainLayout {
  &Content {
    grid-column: 1/-1;
    min-height: calc(100vh - 300px);
    position: relative;
    top: 80px;
  }

  &ThemeButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
}