$black: #111827;
$white: #FAFAFA;
$light-grey: #F0F0F0;
$dark-grey: #838182;
$primary: #FF2D55;
$primary-50: #FFD5DD;
$primary-100: #FFBFCB;
$primary-200: #FF829A;

$dark-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
$light-shadow: rgb(224 224 224 / 20%) 0px 2px 6px 0px;
$blurred-background: rgb(255 255 255 / 20%);
$dark-hover: rgb(255 255 255 / 20%);
$light-hover: rgb(180 180 180 / 20%);