$pink: #FF2B66;
$pink-light: #FF4478;

$black: #000000;
$white: #FFFFFF;
$primary: $pink;
$secondary: #00D7E9;
$tertiary: #FFE648;
$background: #FFFFFF;
$background-dark: #0F0A2E;
$disable: #6F6E6E;
$dark-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
$light-shadow: 0 2px 22px 0 rgba(255, 255, 255, 0.2);
/*
$success-background: $teal-400;
$success-primary: $teal-500;
$danger-backgroud: $red-400;
$danger-primary: $red-700;
*/