$white: #FFFFFF;

$dark-000: #C1C2C5;
$dark-100: #A6A7AB;
$dark-200: #909296;
$dark-300: #5C5F66;
$dark-400: #373A40;
$dark-500: #2C2E33;
$dark-600: #25262B;
$dark-700: #1A1B1E;
$dark-800: #141517;
$dark-900: #101113;

$gray-000: #F8F9FA;
$gray-100: #F8F9FA;
$gray-200: #F8F9FA;
$gray-300: #F8F9FA;
$gray-400: #F8F9FA;
$gray-500: #F8F9FA;
$gray-600: #F8F9FA;
$gray-700: #F8F9FA;
$gray-800: #F8F9FA;
$gray-900: #F8F9FA;

$red-000: #FFF5F5;
$red-100: #FFE3E3;
$red-200: #FFC9C9;
$red-300: #FFA8A8;
$red-400: #FF8787;
$red-500: #FF6B6B;
$red-600: #FA5252;
$red-700: #F03E3E;
$red-800: #E03131;
$red-900: #E03131;

$pink-000: #FFF0F6;
$pink-100: #FFDEEB;
$pink-200: #FCC2D7;
$pink-300: #FAA2C1;
$pink-400: #F783AC;
$pink-500: #F06595;
$pink-600: #E64980;
$pink-700: #D6336C;
$pink-800: #C2255C;
$pink-900: #A61E4D;

$grape-000: #F8F0FC;
$grape-100: #F3D9FA;
$grape-200: #EEBEFA;
$grape-300: #E599F7;
$grape-400: #DA77F2;
$grape-500: #CC5DE8;
$grape-600: #BE4BDB;
$grape-700: #AE3EC9;
$grape-800: #9C36B5;
$grape-900: #862E9C;

$teal-000: #E6FCF5;
$teal-100: #C3FAE8;
$teal-200: #96F2D7;
$teal-300: #63E6BE;
$teal-400: #38D9A9;
$teal-500: #20C997;
$teal-600: #12B886;
$teal-700: #0CA678;
$teal-800: #099268;
$teal-900: #087F5B;

$green-000: #EBFBEE;
$green-100: #D3F9D8;
$green-200: #B2F2BB;
$green-300: #8CE99A;
$green-400: #69DB7C;
$green-500: #51CF66;
$green-600: #40C057;
$green-700: #37B24D;
$green-800: #2F9E44;
$green-900: #2B8A3E;

$lime-000: #F4FCE3;
$lime-100: #F4FCE3;
$lime-200: #D8F5A2;
$lime-300: #C0EB75;
$lime-400: #A9E34B;
$lime-500: #94D82D;
$lime-600: #82C91E;
$lime-700: #74B816;
$lime-800: #66A80F;
$lime-900: #5C940D;

$primary: $grape-600;
$secondary: $lime-500;
$success-background: $teal-400;
$success-primary: $teal-500;
$danger-backgroud: $red-400;
$danger-primary: $red-700;
$background: $dark-000;
$background-dark: $dark-600;
$background-emoled: $dark-900;