@use './layout' as *;
@use './colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-primary: 'Poppins', sans-serif;

$headline1-size: 3.6rem;
$headline2-size: 3rem;
$headline3-size: 2.4rem;
$headline4-size: 1.8rem;
$headline5-size: 1.4rem;
$body-size: 1.8rem;

html {
  font-size: 62.5%;
}

* {
  font-family: $font-primary;
  font-size: $body-size;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: $headline1-size;
}

h2 {
  font-size: $headline2-size;
}

h3 {
  font-size: $headline3-size;
}

h4 {
  font-size: $headline4-size;
}

h5 {
  font-size: $headline5-size;
}

li {
  font-size: $body-size;
}

.btn,
.toggle {
  font-size: $body-size;
}

.logo {
  font-family: $font-primary;
  font-weight: 700;
}