@import "../scss/main.scss";

.CategoryList {
  width: 100%;

  &Item {
    height: 21rem;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 15px;
    flex-direction: column;

    &Name {
      width: 100%;
      text-transform: capitalize;
    }
  }
}