@import "../scss/main.scss";

.Playlists {
  display: flex;
  flex-direction: row;
  height: 210px;
  overflow-x: auto;
  padding-top: 10px;

  @include for-size(m) {
    height: 280px;
    padding-top: 12px;
  }
}