@import "../../scss/main.scss";

.CategoryItem {
  padding-top: 20px;

  &Name {
    font-size: 1.25rem;
    font-weight: 700;
  }

  @include for-size(m) {

    padding-top: 30px;

    &Name {
      font-size: 1.75rem;
    }

  }
}

.ErrorMessage {
  align-items: center;
  background-color: #FFE1E2;
  border-radius: 6px;
  color: #FF000E;
  display: flex;
  font-size: 16px;
  margin-top: 20px;
  padding: 15px;
  width: 400px;

  &Icon {
    font-size: 22px;
    margin-right: 4px;
  }
}