@import "../../scss/main.scss";

.TrackCard {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  justify-content: space-around;
  border-radius: 5px;
  cursor: pointer;

  &Dark {
    &:hover {
      background-color: $dark-hover;
    }
  }

  &Light {
    &:hover {
      background-color: $light-hover;
    }
  }

  &Description {
    align-items: center;
    display: flex;
    white-space: nowrap;
    width: 50%;

    &Image {
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      height: 70px;
      min-width: 70px;
    }

    &Text {
      padding: 0 10px;
      overflow: hidden;
      width: 100%;

      &Name {
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &Artists {
        display: block;
        flex-direction: column;
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &Album {
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
  }

  &Time {
    width: 10%;
  }

  &Popularity {
    width: 10%;
  }
}