@import '../../scss/main.scss';

.Footer {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
  width: 100%;

  &Container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
  }

  &Link {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &SocialMediaItem {
    margin: 8px;

    svg {
      font-size: 40px;
    }
  }

  @include for-size(m) {
    &Container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}