@import '../../scss/main.scss';

.StyleGuide {
  position: relative;

  &Section {
    grid-column: 1/-1; //col span full
    margin-bottom: 40px;

    &Subtitle {
      margin: 30px 0;
    }
  }

  &Tipography,
  &Colors {
    text-align: center;
  }

  &Color {
    background-color: $black;
    display: block;
    margin-bottom: 30px;
    padding: 25px;

    @include for-size(l) {
      display: inline-block;
      width: 300px;
      margin-right: 30px;
    }

    &0 {
      background-color: $white;
      border: 2px solid $black;
      color: $black;
    }

    &1 {
      background-color: $black;
      color: $white;
    }

    &2 {
      background-color: $primary;
      color: $black;
    }

    &3 {
      background-color: $secondary;
      color: $black;
    }

    &4 {
      background-color: $tertiary;
      color: $black;
    }
  }

  &Tipography {

    &Heading,
    &Title {
      grid-column: 1/-1;
      margin: 20px 0;
    }
  }

  &Grid {
    width: 100%;

    &Column {
      background-color: $primary;
      border: 3px solid $black;
      color: $black;
      margin-bottom: 20px;
      padding: 100px 0;
      text-align: center;
    }
  }

  &Buttons {
    display: flex;
    flex-direction: column;

    @include for-size(m) {
      flex-direction: row;
    }

    &Item {
      margin-bottom: 30px;

      @include for-size(m) {
        margin-right: 30px;
      }
    }
  }

  &Wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100px;
    width: 100%;
  }

  &Masthead {
    padding: 20px;
    text-align: center;
  }
}