@import '../../scss/main.scss';

.PlayerContainer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $light-grey;
  cursor: pointer;
  color: $black;
}

.Player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px 0 16px;

  &TrackInfoSection {
    min-width: 300px;
  }

  &ProgressBarSection {
    display: none;
  }

  &ControlsSection {
    display: none;
  }
}

.SimpleControl {
  display: inline;

  svg {
    height: 30px;
    width: 30px;
  }
}

@include for-size(m) {
  .PlayerContainer {
    height: 100px;
    cursor: default;
  }

  .Player {

    justify-content: space-between;
    color: $black;
    height: 100%;
    width: 900px;
    align-items: center;
    padding: 20px;

    &TrackInfoSection {
      width: 300px;
    }

    &ProgressBarSection {
      display: inline;
      width: 100%;
      padding: 0 30px 0 30px;
    }

    &ControlsSection {
      display: inline;
      width: 200px;
    }
  }

  .SimpleControl {
    display: none;
  }
}