@import '../../scss/main.scss';

.PlayerContainer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  cursor: pointer;
  color: $black;

  svg {
    width: 20px;
    margin: 3px;
  }
}

.Player {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;


  &Data {
    display: flex;
    width: 100%;
    padding: 12px 30px;

    &TrackInfoSection {
      min-width: 300px;
    }

    &ProgressBarSection {
      display: none;
    }

    &ControlsSection {
      display: none;
    }
  }
}

.SimpleControl {
  display: inline;
  padding-right: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    height: 30px;
    width: 30px;
  }
}

.ShowDetails {
  position: absolute;
  top: 0;
  right: 0;
  display: inline;
  color: $dark-grey;
}

@include for-size(m) {
  .PlayerContainer {
    display: flex;
    cursor: default;
    justify-content: center;
    align-items: center;

    svg {
      width: auto;
      margin: 0;
    }
  }

  .Player {
    padding: 0;

    &Data {
      justify-content: space-between;
      color: $black;
      height: 100%;
      width: 900px;
      align-items: center;
      padding: 12px 30px;

      &TrackInfoSection {
        width: 300px;
      }

      &ProgressBarSection {
        display: inline;
        width: 100%;
        padding: 0 30px 0 30px;
      }

      &ControlsSection {
        display: inline;
        width: 200px;
      }
    }
  }

  .SimpleControl {
    display: none;
  }

  .ShowDetails {
    display: none;
  }
}