@import "../../scss/main.scss";

.CategoryListSkeleton {
  width: 100%;

  &Title {
    height: 38.4px;
    width: 200px;
    margin-top: 6px;
    border-radius: 6px;
  }
}

.CategoryItemSkeleton {
  display: flex;
  flex-direction: row;
  height: 200px;
  overflow-x: auto;
  padding-top: 10px;
  width: 100%;
}

.PlaylistCardsSkeleton {
  border-radius: 20px;
  height: 160px;
  margin: 8px;
  min-width: 145px;
  position: relative;
  width: 145px;

  &BlurredContainer {
    background-color: rgb(0, 0, 0, 6%);
    border-radius: 0px 0px 20px 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  &Tracks,
  &Name {
    border-radius: 4px;
  }

  &Name {
    height: 1.4rem;
    width: 100%;
  }

  &Tracks {
    height: 1.2rem;
    width: 40%;
  }
}

@include for-size(m) {

  .CategoryListSkeleton {

    &Title {
      margin-top: 10px;
    }
  }

  .CategoryItemSkeleton {
    height: 280px;
    padding-top: 12px;
  }

  .PlaylistCardsSkeleton {
    border-radius: 30px;
    height: 215px;
    margin: 10px;
    min-width: 200px;
    width: 200px;

    &BlurredContainer {
      padding: 16px;
      border-radius: 0px 0px 30px 30px;
    }

    &Name {
      height: 1.8rem;
    }

    &Tracks {
      height: 1.4rem;
    }
  }

}