@import "../../scss/main.scss";

.CategoryList {
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}

.LoadMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.LoadMoreButton {
  display: flex;
  gap: 5px;
  padding: 16px 30px;
}

@include for-size(m) {
  .LoadMoreButtonContainer {
    margin-top: 40px;
  }
}