@import "../../scss/main.scss";

.CategoryList {
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  padding-bottom: 50px;
}

.LoadMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}